Repository dafny-lang/dafny, pull requests merged in 2021-12, with the labels that each got.

#1653 chore: Delete InterimKey.snk
  Source/InterimKey.snk
Labels: clean-up

#1661 chore: Documentation about array initialization
  docs/DafnyRef/Types.md
Labels: documentation

#1654 Add an command line flag to DafnyLanguageServer.exe to control caching
  Source/DafnyLanguageServer/Language/DafnyProgramVerifier.cs
  Source/DafnyLanguageServer/Language/VerifierOptions.cs
  Source/DafnyLanguageServer/README.md
Labels: language server

#1655 feat(lsp): Report tracing messages to language server clients
  Source/DafnyLanguageServer.Test/Various/CompilationStatusNotificationTest.cs
  Source/DafnyLanguageServer/Language/DafnyProgramVerifier.cs
  Source/DafnyLanguageServer/Language/IProgramVerifier.cs
  Source/DafnyLanguageServer/Language/IVerificationProgressReporter.cs
  Source/DafnyLanguageServer/Workspace/CompilationStatusNotificationPublisher.cs
  Source/DafnyLanguageServer/Workspace/ICompilationStatusNotificationPublisher.cs
  Source/DafnyLanguageServer/Workspace/Notifications/CompilationStatus.cs
  Source/DafnyLanguageServer/Workspace/Notifications/CompilationStatusParams.cs
  Source/DafnyLanguageServer/Workspace/TextDocumentLoader.cs
Labels: error reporting, language server

#1662 fix(lsp): Fix a concurrency bug in `AddDiagnosticForFile` (Fixes #1651)
  Source/DafnyLanguageServer.Test/Synchronization/DiagnosticsTest.cs
  Source/DafnyLanguageServer.Test/Synchronization/OpenDocumentTest.cs
  Source/DafnyLanguageServer.Test/Synchronization/SaveDocumentTest.cs
  Source/DafnyLanguageServer/Language/DafnyProgramVerifier.cs
  Source/DafnyLanguageServer/Language/DiagnosticErrorReporter.cs
  Source/DafnyLanguageServer/Workspace/DiagnosticPublisher.cs
Labels: bug, language server

#1540 In-memory implementation of %diff, enable integration tests on windows
  .github/workflows/msbuild.yml
  Source/Dafny/Compilers/Compiler-cpp.cs
  Source/Dafny/Compilers/Compiler-go.cs
  Source/Dafny/Resolver.cs
  Source/DafnyDriver/DafnyDriver.cs
  Source/DafnyTestGeneration/Main.cs
  Source/IntegrationTests/IntegrationTests.csproj
  Source/IntegrationTests/LitTests.cs
  Source/XUnitExtensions/AssertWithDiff.cs
  Source/XUnitExtensions/Lit/DiffCommand.cs
  Source/XUnitExtensions/Lit/LitCommandWithRedirection.cs
  Source/XUnitExtensions/Lit/LitTestCase.cs
  Source/XUnitExtensions/Lit/LitTestConfiguration.cs
  Source/XUnitExtensions/Lit/OutputCheckCommand.cs
  Source/XUnitExtensions/Lit/SedCommand.cs
  Source/XUnitExtensions/Lit/ShellLitCommand.cs
  Test/comp/Variance.dfy
  Test/comp/Variance.dfy.expect
  Test/dafny0/ShowSnippets.dfy
  Test/git-issues/git-issue-181.dfy.expect
  Test/server/counterexample_none.transcript
  Test/server/minimal.transcript
  Test/server/simple-session.transcript
  Test/server/unmarshal.transcript
  Test/server/unmarshal.transcript.expect
  docs/DafnyRef/Options.txt
Labels: windows
