Repository dafny-lang/dafny, pull requests merged in 2022-07, with the labels that each got.

#2372 Turn off NuGet publish until secrets.NUGET_API_KEY works
  .github/workflows/publish-release-reusable.yml
Labels: run-deep-tests

#2352 Fixed verification ordering priority and speedup
  RELEASE_NOTES.md
  Source/DafnyLanguageServer.Test/GutterStatus/CachedLinearVerificationGutterStatusTester.cs
  Source/DafnyLanguageServer.Test/GutterStatus/LinearVerificationGutterStatusTester.cs
  Source/DafnyLanguageServer.Test/GutterStatus/ListeningTextDocumentLoader.cs
  Source/DafnyLanguageServer.Test/GutterStatus/ReorderingVerificationGutterStatusTester.cs
  Source/DafnyLanguageServer.Test/Util/ClientBasedLanguageServerTest.cs
  Source/DafnyLanguageServer.Test/Util/TestNotificationReceiver.cs
  Source/DafnyLanguageServer/Language/AssertionBatchCompletedObserver.cs
  Source/DafnyLanguageServer/Language/DafnyProgramVerifier.cs
  Source/DafnyLanguageServer/Language/IVerificationProgressReporter.cs
  Source/DafnyLanguageServer/Language/LanguageServerExtensions.cs
  Source/DafnyLanguageServer/Workspace/FileVerificationStatus.cs
  Source/DafnyLanguageServer/Workspace/TextDocumentLoader.cs
  Source/DafnyLanguageServer/Workspace/VerificationProgressReporter.cs
Labels: area: performance, part: language server, kind: development-speed, severity: release-blocker

#2389 chore: Disable nuget publishing from nightly build
  .github/workflows/deep-tests.yml
Labels: run-deep-tests

#2202 Feat: Show snippets range
  Source/Dafny/AST/BuiltIns.cs
  Source/Dafny/AST/DafnyAst.cs
  Source/Dafny/Cloner.cs
  Source/Dafny/Dafny.atg
  Source/Dafny/DafnyConsolePrinter.cs
  Source/Dafny/Resolver.cs
  Source/Dafny/Resolver/RunAllTestsMainMethod.cs
  Source/Dafny/Rewriter.cs
  Source/Dafny/Substituter.cs
  Source/Dafny/Triggers/TriggerUtils.cs
  Source/Dafny/Verifier/FunctionCallSubstituter.cs
  Source/Dafny/Verifier/Translator.ExpressionTranslator.cs
  Source/Dafny/Verifier/Translator.cs
  Source/DafnyLanguageServer.Test/GutterStatus/SimpleLinearVerificationGutterStatusTester.cs
  Source/DafnyLanguageServer.Test/Synchronization/DiagnosticsTest.cs
  Source/DafnyLanguageServer/Language/BoogieExtensions.cs
  Source/DafnyLanguageServer/Language/DafnyLangParser.cs
  Source/DafnyLanguageServer/Workspace/Notifications/VerificationDiagnosticsParams.cs
  Test/dafny0/ShowSnippets.dfy.expect
  Test/git-issues/git-issue-2197.dfy
  Test/git-issues/git-issue-2197.dfy.expect
Labels: part: resolver, area: error-reporting, part: language server

#2467 fix: Strip "pos" field from diagnosticsFormat test
  Source/XUnitExtensions/Lit/ILitCommand.cs
  Source/XUnitExtensions/Lit/SedCommand.cs
  Test/cli/diagnosticsFormats.dfy
  Test/cli/diagnosticsFormats.dfy.expect
  Test/lit.site.cfg
Labels: run-deep-tests

#2505 Revert "Run `dotnet pack` before `dotnet publish` (#2501)"
  .github/workflows/publish-release-reusable.yml
  RELEASE_NOTES.md
Labels: run-deep-tests
