Repository dafny-lang/dafny, pull requests merged in 2023-02, with the labels that each got.

#3447 Revert "fix: Fix naming of formals in Translator (#2266)"
  Source/DafnyCore/Verifier/Translator.cs
  Source/IntegrationTests/LitTests.cs
  Source/XUnitExtensions/Lit/DotnetToolCommand.cs
  Test/git-issues/git-issue-2266.dfy
  Test/git-issues/git-issue-2266.dfy.expect
  Test/lit.site.cfg
  docs/dev/news/2266.fix
  dotnet-tools.json
Labels: run-deep-tests

#3299 Implementing errorIDs
  .github/workflows/xunit-tests.yml
  Source/Dafny/Dafny.cs
  Source/DafnyCore/AST/Tokens.cs
  Source/DafnyCore/Auditor/Auditor.cs
  Source/DafnyCore/Coco/Parser.frame
  Source/DafnyCore/Coco/Scanner.frame
  Source/DafnyCore/CompileNestedMatch/MatchFlattener.cs
  Source/DafnyCore/Dafny.atg
  Source/DafnyCore/ErrorDetail.cs
  Source/DafnyCore/JsonDiagnostics.cs
  Source/DafnyCore/ParserErrorDetail.cs
  Source/DafnyCore/Reporting.cs
  Source/DafnyCore/Resolver/ExpectContracts.cs
  Source/DafnyCore/Resolver/NameResolutionAndTypeInference.cs
  Source/DafnyCore/Resolver/Resolver.cs
  Source/DafnyCore/Resolver/TypeInferenceChecker.cs
  Source/DafnyCore/Rewriters/ConstructorWarning.cs
  Source/DafnyCore/Rewriters/InductionRewriter.cs
  Source/DafnyCore/Rewriters/PrecedenceLinter.cs
  Source/DafnyCore/Rewriters/TimeLimitRewriter.cs
  Source/DafnyCore/Rewriters/UselessOldLinter.cs
  Source/DafnyCore/Triggers/QuantifiersCollection.cs
  Source/DafnyLanguageServer.Test/Unit/ParserExceptionTest.cs
  Source/DafnyLanguageServer/DafnyCodeActions.cs
  Source/DafnyLanguageServer/Handlers/DafnyCodeActionHandler.cs
  Source/DafnyLanguageServer/Handlers/DafnyHoverHandler.cs
  Source/DafnyLanguageServer/Language/DiagnosticErrorReporter.cs
  Source/DafnyLanguageServer/Language/ErrorMessageDafnyCodeActionProvider.cs
  Test/git-issues/git-issue-3187.dfy.expect
  Test/git-issues/git-issue-3187a.dfy.expect
  Test/git-issues/git-issue-3451/git-issue-3451.dfy.expect
  docs/HowToFAQ/Errors-Parser.md
  docs/check-examples
  docs/dev/news/3299.feat
Labels: run-deep-tests

#3491 Fix canonical paths for paths with spaces
  Source/DafnyCore/DafnyMain.cs
  Source/DafnyPipeline.Test/RelativePaths.cs
Labels: kind: bug, severity: release-blocker, severity: no-workaround

#3509 chore: Revert likely culprits for CI failures
  Source/DafnyCore/DafnyMain.cs
  Source/DafnyPipeline.Test/RelativePaths.cs
  Source/IntegrationTests/LitTests.cs
  Test/README.md
  Test/comp/CompileWithArguments.dfy
  Test/comp/separate-compilation/Inputs/producer/timesTwo.dfy
  Test/comp/separate-compilation/usesTimesTwo.dfy
  Test/dafny0/PrintEffects.dfy
  Test/expectations/Expect.dfy
  Test/git-issues/git-issue-3187.dfy
  Test/git-issues/git-issue-3187a.dfy
  Test/git-issues/git-issue-3187b.dfy
  Test/git-issues/git-issue-3187c.dfy
  Test/git-issues/git-issue-3187d.dfy
  Test/git-issues/git-issue-3382.dfy
  Test/git-issues/git-issue-3461.dfy
  Test/git-issues/github-issue-305-a.dfy
  Test/lit.site.cfg
Labels: run-deep-tests

#3519 fix: correct project file when running `dotnet publish`
  Scripts/package.py
Labels: run-deep-tests

#3493 Fix: Hovering with information about foreign docs
  Source/DafnyCore/AST/Tokens.cs
  Source/DafnyLanguageServer.Test/DafnyLanguageServer.Test.csproj
  Source/DafnyLanguageServer.Test/Lookup/HoverVerificationTest.cs
  Source/DafnyLanguageServer.Test/Lookup/TestFiles/foreign-verify.dfy
  Source/DafnyLanguageServer/Handlers/DafnyHoverHandler.cs
  docs/dev/news/fix-hover-foreign.fix
Labels: severity: release-blocker

#3485 Fix NRE that occurred when a match on a base type has no cases
  Source/DafnyCore/AST/DafnyAst.cs
  Source/DafnyCore/AST/Expressions/LetExpr.cs
  Source/DafnyCore/AST/Expressions/NestedMatchExpr.cs
  Source/DafnyCore/AST/Expressions/NestedMatchStmt.cs
  Source/DafnyCore/AST/Node.cs
  Source/DafnyCore/AST/Statements/AssertStmt.cs
  Source/DafnyCore/AST/TopLevelDeclarations.cs
  Source/DafnyCore/CompileNestedMatch/MatchAst.cs
  Source/DafnyCore/CompileNestedMatch/MatchFlattener.cs
  Source/DafnyCore/Resolver/Resolver.cs
  Source/DafnyCore/Verifier/Translator.ExpressionWellformed.cs
  Source/DafnyCore/Verifier/Translator.TrStatement.cs
  Test/git-issues/git-issue-283c.dfy.expect
  Test/git-issues/git-issue-889a.dfy.expect
  Test/git-issues/github-issue-3484.dfy
  Test/git-issues/github-issue-3484.dfy.expect
  Test/patterns/PatternMatchingErrors.dfy.expect
Labels: severity: release-blocker

#3554 Debugging new CLI macros: Just the macros and README
  Source/IntegrationTests/LitTests.cs
  Test/DafnyTests/TestAttribute.dfy.saved
  Test/README.md
  Test/git-issues/git-issue-3461.dfy
  Test/lit.site.cfg
Labels: run-deep-tests

#3573 Marking options as allowing override behavior
  Source/DafnyCore/Options/BoogieOptionBag.cs
  Source/DafnyCore/Options/CommonOptionBag.cs
  Source/DafnyCore/Options/DeveloperOptionBag.cs
  Source/DafnyDriver/Commands/CommandRegistry.cs
  Test/git-issues/git-issue-3571.dfy
  Test/git-issues/git-issue-3571.dfy.expect
Labels: run-deep-tests

#3551 fix: Fix naming of formals in Translator and standardize Z3 path
  .github/workflows/integration-tests-reusable.yml
  Source/DafnyCore/Verifier/Translator.cs
  Source/IntegrationTests/LitTests.cs
  Source/XUnitExtensions/Lit/DotnetToolCommand.cs
  Test/git-issues/git-issue-2266.dfy
  Test/git-issues/git-issue-2266.dfy.expect
  Test/lit.site.cfg
  docs/dev/news/2266.fix
  dotnet-tools.json
Labels: run-deep-tests

#3636 Revert "Update build to use both Z3 4.8.5 and 4.12.1 (#3622)"
  .github/workflows/doc-tests.yml
  .github/workflows/integration-tests-reusable.yml
  .github/workflows/release-downloads-nuget.yml
  .github/workflows/release-downloads.yml
  .github/workflows/xunit-tests.yml
  Makefile
  Source/DafnyCore/DafnyOptions.cs
  Source/DafnyLanguageServer.Test/Various/ResourceUsageTest.cs
  Source/DafnyLanguageServer/DafnyLanguageServer.cs
  Source/IntegrationTests/LitTests.cs
  Test/git-issues/BoundedInts.dfy
  Test/git-issues/Wrappers.dfy
  Test/git-issues/git-issue-1514.dfy
  Test/git-issues/git-issue-1514b.dfy
  Test/git-issues/git-issue-1514c.dfy
  Test/git-issues/git-issue-2927.dfy
  Test/git-issues/git-issue1495.dfy
  Test/lit.site.cfg
Labels: run-deep-tests

#3638 Another attempt at #3622
  .github/workflows/doc-tests.yml
  .github/workflows/integration-tests-reusable.yml
  .github/workflows/release-downloads-nuget.yml
  .github/workflows/release-downloads.yml
  .github/workflows/xunit-tests.yml
  Makefile
  Scripts/package.py
  Source/DafnyCore/DafnyMain.cs
  Source/DafnyCore/DafnyOptions.cs
  Source/DafnyLanguageServer.Test/Various/ResourceUsageTest.cs
  Source/DafnyLanguageServer/DafnyLanguageServer.cs
  Source/IntegrationTests/LitTests.cs
  Test/lit.site.cfg
Labels: run-deep-tests

#3400 Update tests to work with Z3 4.12.1
  .github/workflows/doc-tests.yml
  .github/workflows/integration-tests-reusable.yml
  .github/workflows/xunit-tests.yml
  Source/DafnyCore/DafnyOptions.cs
  Source/DafnyLanguageServer.Test/Lookup/HoverVerificationTest.cs
  Source/DafnyLanguageServer.Test/Various/CounterExampleTest.cs
  Source/DafnyTestGeneration.Test/Collections.cs
  Source/DafnyTestGeneration.Test/Various.cs
  Source/DafnyTestGeneration/ProgramModification.cs
  Test/allocated1/dafny0/AutoContracts.dfy.expect
  Test/allocated1/dafny0/BitvectorsMore.dfy
  Test/allocated1/dafny0/BitvectorsMore.dfy.expect
  Test/allocated1/dafny0/Computations.dfy
  Test/allocated1/dafny0/Fuel.dfy
  Test/allocated1/dafny0/Fuel.dfy.expect
  Test/allocated1/dafny0/one-message-per-failed-precondition.dfy.expect
  Test/comp/CompileWithArguments.dfy
  Test/comp/separate-compilation/usesTimesTwo.dfy
  Test/concurrency/12-MutexLifetime-short.dfy
  Test/dafny0/AutoContracts.dfy.expect
  Test/dafny0/BitvectorsMore.dfy
  Test/dafny0/BitvectorsMore.dfy.expect
  Test/dafny0/Computations.dfy
  Test/dafny0/Fuel.dfy.expect
  Test/dafny0/PrintEffects.dfy
  Test/dafny0/Termination.dfy
  Test/dafny0/one-message-per-failed-precondition.dfy.expect
  Test/dafny1/MoreInduction.dfy
  Test/dafny2/SnapshotableTrees.dfy
  Test/dafny2/SnapshotableTrees.dfy.expect
  Test/dafny4/ACL2-extractor.dfy
  Test/dafny4/NipkowKlein-chapter3.dfy
  Test/expectations/Expect.dfy
  Test/git-issues/git-issue-2026.dfy
  Test/git-issues/git-issue-2026.dfy.expect
  Test/git-issues/git-issue-2299.dfy.expect
  Test/git-issues/git-issue-2301.dfy
  Test/git-issues/github-issue-2174.dfy
  Test/git-issues/github-issue-2989.dfy
  Test/git-issues/github-issue-305-a.dfy
  Test/lit.site.cfg
  Test/server/counterexample_commandline.dfy
  Test/vstte2012/BreadthFirstSearch.dfy
  docs/OnlineTutorial/guide.10.expect
Labels: run-deep-tests
