Repository dafny-lang/dafny, pull requests merged in 2024-03, with the labels that each got.

#5163 Remove fragile .expect file that doesn't test much
  Source/IntegrationTests/TestFiles/LitTests/LitTest/logger/VerificationLogger.dfy
  Source/IntegrationTests/TestFiles/LitTests/LitTest/logger/VerificationLogger.dfy.expect
Labels: run-deep-tests

#5243 Introduce generic mechanism for combining state from multiple compilations
  Source/DafnyCore/Generic/BatchErrorReporter.cs
  Source/DafnyCore/Generic/Reporting.cs
  Source/DafnyCore/Pipeline/Compilation.cs
  Source/DafnyCore/Pipeline/Events/DeterminedRootFiles.cs
  Source/DafnyCore/Pipeline/Events/FinishedParsing.cs
  Source/DafnyCore/Pipeline/Events/FinishedResolution.cs
  Source/DafnyCore/Pipeline/Events/InternalCompilationException.cs
  Source/DafnyCore/Pipeline/ObservableErrorReporter.cs
  Source/DafnyLanguageServer.Test/Diagnostics/DiagnosticsTest.cs
  Source/DafnyLanguageServer.Test/ProjectFiles/CompetingProjectFilesTest.cs
  Source/DafnyLanguageServer.Test/Synchronization/OpenDocumentTest.cs
  Source/DafnyLanguageServer.Test/Synchronization/VerificationStatusTest.cs
  Source/DafnyLanguageServer.Test/Util/ClientBasedLanguageServerTest.cs
  Source/DafnyLanguageServer/Handlers/DafnyCodeActionHandler.cs
  Source/DafnyLanguageServer/Handlers/DafnyHoverHandler.cs
  Source/DafnyLanguageServer/Plugins/DafnyCodeActionProvider.cs
  Source/DafnyLanguageServer/Plugins/IDafnyCodeActionInput.cs
  Source/DafnyLanguageServer/Workspace/IdeState.cs
  Source/DafnyLanguageServer/Workspace/LanguageServerFilesystem.cs
  Source/DafnyLanguageServer/Workspace/NotificationPublisher.cs
  Source/DafnyLanguageServer/Workspace/ProjectManagerDatabase.cs
  Source/DafnyTestGeneration/FirstPass.cs
Labels: makes-mikael-grateful

#5135 Support Counterexamples with New CLI Interface
  Source/DafnyCore/CounterExampleGeneration/DafnyModel.cs
  Source/DafnyCore/CounterExampleGeneration/DafnyModelState.cs
  Source/DafnyCore/CounterExampleGeneration/DafnyModelTypeUtils.cs
  Source/DafnyCore/CounterExampleGeneration/DafnyModelVariable.cs
  Source/DafnyCore/CounterExampleGeneration/ModelFuncWrapper.cs
  Source/DafnyCore/CounterExampleGeneration/README.md
  Source/DafnyCore/Generic/ReporterExtensions.cs
  Source/DafnyCore/Pipeline/Compilation.cs
  Source/DafnyDriver/Legacy/SynchronousCliCompilation.cs
  Source/DafnyLanguageServer/Handlers/Custom/DafnyCounterExampleHandler.cs
  Source/DafnyServer/CounterExampleProvider.cs
  Source/DafnyTestGeneration/TestMethod.cs
  Source/DafnyTestGeneration/Utils.cs
  Source/IntegrationTests/TestFiles/LitTests/LitTest/git-issues/git-issue-2026.dfy
  Source/IntegrationTests/TestFiles/LitTests/LitTest/git-issues/git-issue-2026.dfy.expect
  Source/IntegrationTests/TestFiles/LitTests/LitTest/server/counterexample_commandline.dfy
  Source/IntegrationTests/TestFiles/LitTests/LitTest/server/counterexample_commandline.dfy.expect
Labels: part: counterexamples

#5266 Remove paths in test that were causing the Windows build to fail
  Source/IntegrationTests/TestFiles/LitTests/LitTest/server/counterexample_commandline.dfy
  Source/IntegrationTests/TestFiles/LitTests/LitTest/server/counterexample_commandline.dfy.expect
Labels: run-deep-tests

#5275 Fix deep tests path missing
  Source/IntegrationTests/TestFiles/LitTests/LitTest/git-issues/git-issue-2026.dfy
  Source/IntegrationTests/TestFiles/LitTests/LitTest/git-issues/git-issue-2026.dfy.expect
Labels: run-deep-tests
