Repository dafny-lang/dafny, pull requests merged in 2025-01, with the labels that each got.

#6035 Attempt at fixing nightly.
  .github/workflows/integration-tests-reusable.yml
  Scripts/package.py
  Source/DafnyDriver/Commands/ServerCommand.cs
  Source/DafnyDriver/DafnyDriver.csproj
  Source/DafnyDriver/Legacy/LegacyJsonVerificationLogger.cs
  Source/DafnyLanguageServer/DafnyLanguageServer.csproj
  Source/DafnyServer/DafnyServer.csproj
  Source/DafnyTestGeneration/DafnyTestGeneration.csproj
Labels: run-deep-tests

#6037 Delete test for legacy CLI that tests ambiguous behavior
  Source/IntegrationTests/TestFiles/LitTests/LitTest/git-issues/git-issue-3549a.dfy
  Source/IntegrationTests/TestFiles/LitTests/LitTest/git-issues/git-issue-3549a.dfy.expect
Labels: run-deep-tests, run-integration-tests

#6030 Fix: Explicit assertions no longer considered implicit for code actions
  Source/DafnyLanguageServer.Test/CodeActions/CodeActionsTest.cs
  Source/DafnyLanguageServer/Language/ImplicitFailingAssertionCodeActionProvider.cs
  docs/dev/news/6025.fix
Labels: run-integration-tests

#6062 Chore: macosx unsupported for a performance file because inconsistent RC
  Source/IntegrationTests/TestFiles/LitTests/LitTest/README.md
  Source/IntegrationTests/TestFiles/LitTests/LitTest/dafny0/CoinductiveProofs.dfy
Labels: run-deep-tests

#6040 Feat: Ability to emit sync-compatible Rust code.
  Source/DafnyCore.Test/GeneratedFromDafny/FactorPathsOptimizationTest.cs
  Source/DafnyCore/Backends/Rust/Dafny-compiler-rust-definitions.dfy
  Source/DafnyCore/Backends/Rust/Dafny-compiler-rust-path-simplification.dfy
  Source/DafnyCore/Backends/Rust/Dafny-compiler-rust-rast.dfy
  Source/DafnyCore/Backends/Rust/Dafny-compiler-rust.dfy
  Source/DafnyCore/Backends/Rust/RustBackend.cs
  Source/DafnyCore/Backends/Rust/RustCodeGenerator.cs
  Source/DafnyCore/Backends/SinglePassCodeGenerator/SinglePassCodeGenerator.cs
  Source/DafnyCore/GeneratedFromDafny/DCOMP.cs
  Source/DafnyCore/GeneratedFromDafny/Defs.cs
  Source/DafnyCore/GeneratedFromDafny/FuncExtensions.cs
  Source/DafnyCore/GeneratedFromDafny/RAST.cs
  Source/DafnyRuntime/DafnyRuntimeRust/Cargo.toml
  Source/DafnyRuntime/DafnyRuntimeRust/Makefile
  Source/DafnyRuntime/DafnyRuntimeRust/src/lib.rs
  Source/DafnyRuntime/DafnyRuntimeRust/src/system/mod.rs
  Source/DafnyRuntime/DafnyRuntimeRust/src/tests/mod.rs
  Source/IntegrationTests/TestFiles/LitTests/LitTest/comp/rust/arc/tokiouser-rust/Cargo.toml
  Source/IntegrationTests/TestFiles/LitTests/LitTest/comp/rust/arc/tokiouser-rust/src/main.rs
  Source/IntegrationTests/TestFiles/LitTests/LitTest/comp/rust/arc/tokiouser.dfy
  Source/IntegrationTests/TestFiles/LitTests/LitTest/comp/rust/arc/tokiouser.dfy.expect
Labels: run-integration-tests
